.clients-container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 250px;
}

.big-container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.big-container p {
    text-align: center;
    font-size: 25px;
}
@media screen and (max-width:500px) {
    .big-container h1 {
        font-size: 35px;
    }
    .big-container p {
        font-size: 20px;
    }
}
table {
    margin: 0 auto;
    max-width: 90%;
    min-width: 60%;
    margin-top: 16px;
    table-layout: fixed;
}
th,
td {
    border-radius: 4px;
    background-color: rgb(19, 12, 12);
    width: 25px;
    padding: 20px;
    text-align: center;
}
.icons span {
    padding: 5px;
}
.search {
    display: flex;
    justify-content: center;
}
.big-container tr {
    background-color: 'rgb(223, 223, 223)';
    color: #cecefd;
}
.big-container thead tr {
    background-color: #131314;
    color: #2fadcf;
}
.big-container .icons .delete {
    color: '#9f9e9e';
}
.big-container .icons .delete:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #b10808;
}
.big-container .icons a {
    color: '#9f9e9e';
    text-decoration: none;
}
.big-container .icons a:visited {
    color: white;
}
a:visited {
    color: white;
}
.big-container .icons .edit:hover {
    cursor: pointer;
    transition: 0.2s;
    color: '#c3932e';
}
.big-container .aboutContainer h2 {
    color: 'white';
}