.learn-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 85%;
    margin: auto;
    margin-top: 60px;
}

.learn-btns button {
    background-image: linear-gradient(120deg, #0e0d0d, #210838);
    color: white;
    width: 100%;
    font-size: 12px;
}

.learn-btns a {
    width: 100%;
}

.learn-btns button:hover {
    box-shadow: 0px 0px 6px 2px #be8cff;
}

.MyTitle .learn-p {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 25px;
    color: rgba(230, 221, 174, 0.842);
}

.MyTitle ul {
    padding: 10px;
    margin-top: 18px;
    font-family: sans-serif;
    color: #aeddffd6;
    font-size: 18px;
    border-radius: 10px;
    width: 60%;
}

@media screen and (max-width:600px) {
    .MyTitle .learn-p {
        font-size: 22px;
    }

    .learn-btns button {
        font-size: 10px;
    }

    .learn-btns {
        gap: 4px;
    }
}

.info-and-add {
    display: flex;
    flex-direction: row;
}

.learn-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    margin-bottom: 16px;
    gap: 8px;
}

.learn-icons svg {
    box-shadow: 4px 2px 16px 2px rgba(0, 0, 0, 0.616);
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 45%;
    padding: 5px;
}
