.options2 {
    background-color: rgba(223, 224, 224, 0);
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.options2 .submitG {
    margin: auto;
    width: 70%;
    height: 40px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(8, 9, 10);
    color: white;
}

.options2 .submitG:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(6, 109, 6, 0.733);
    box-shadow: 0px 2px 15px 10px rgba(7, 95, 110, 0.452);
}

.options2 .actions {
    display: flex;
    align-items: center;
    padding: 5px;
}

.options2 .actions button {
    background-color: rgb(8, 9, 10);
    color: white;
    cursor: pointer;
    width: 60%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
}

.options2 .actions button:hover {
    transition: 0.2s;
    box-shadow: 0px 2px 15px 10px rgba(7, 95, 110, 0.452);
    color: white;
}

.options2 .actions .refresh:hover {
    background-color: rgb(6, 8, 110);
    color: white;
}

.options2 .actions .cancel:hover {
    background-color: rgba(110, 6, 6, 0.822);
    color: white;
    border: none;
}
