.container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
}

.ghub {
    width: 79.5%;
    margin: auto;
    margin-top: 10px;
}

.container2 .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
}
#category {
    font-size: 18px;
    height: 58px;
    outline: none;
    background-color: rgba(15, 14, 14, 0.938);
    color: white;
    padding: 8px;
    width: 95%;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid rgba(98, 26, 112, 0.178)
}

.container2 .row {
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 75%;
    margin-top: 10px;
    gap: 15px;
}

@media screen and (max-width:934px) {
    .container2 .row {
        flex-wrap: wrap;
    }

    .container2 .column {
        margin: auto;
    }

    .ghub {
        width: 75%;
    }

    #category {
        width: 95%;
    }
}

@media screen and (max-width:620px) {
    #category {
        width: 100%;
    }
    .container2 .column label {
        margin-top: 28px;
    }
}

.container2 input {
    font-size: 18px;
    height: 25px;
    outline: none;
    background-color: rgba(15, 14, 14, 0.938);
    color: white;
    padding: 15px;
    width: 90%;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid rgba(98, 26, 112, 0.178)
}

.container2 .fieldError {
    color: red;
    font-size: 16px;
    width: 90%;
    height: 0px;
}

.container2 label {
    width: 90%;
    color: rgb(216, 199, 224);
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
}

.container2 h2 {
    text-align: center;
    color: rgba(221, 218, 231, 0.788);
    margin-bottom: 10px;
}