.container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 680px;
}

.container2 .column {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.container2 .row {
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 75%;
    margin-top: 10px;
}

@media screen and (max-width:934px) {
    .container2 .row {
        flex-wrap: wrap;
    }

    .container2 .column {
        margin: auto;
    }
}

.container2 input {
    font-size: 18px;
    height: 25px;
    outline: none;
    background-color: rgba(15, 14, 14, 0.938);
    color: white;
    padding: 15px;
    width: 90%;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid rgba(98, 26, 112, 0.178)
}
.container2 .fieldError {
    color: red;
    font-size: 16px;
    width: 90%;
    height: 28px;
}

.container2 label {
    width: 90%;
    color: rgb(216, 199, 224);
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

.container2 h2 {
    text-align: center;
    color: rgba(221, 218, 231, 0.788);
    margin-bottom: 10px;
}

.business label{
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: 25px;
}

.business input {
    display: inline-block;
    align-items: center;
    width: 20px;
}
@media screen and (max-width:934px) {
    .business label{
        margin-left: 60px;
    }
}