@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.cdnfonts.com/css/digital-gothic');

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0c0c0ce8;
    box-shadow: 0px 16px 20px 10px #a900ff;
    ;
    height: 120px;
    color: white;
}

.footer-content p {
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px;
    color: #aaaaaaba;                                       
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 30px;
}

.icon-p b {
    font-family: none;
    color: rgba(190, 199, 163, 0.773);
}

.footer-icons {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
}

.icon-p {
    font-family: 'Digital-7 Mono', sans-serif !important;
    display: flex;
    align-items: center;
    font-size: 20px !important;
    margin-top: 20px;
}

@media screen and (max-width:1232px) {
    .footer-content p {
        font-size: 12px;
    }

    .footer-content .icon-p {
        font-size: 18px !important;
    }
}

@media screen and (max-width:990px) {
    .footer-content {
        flex-direction: column;
        padding: 5px;
    }

    .footer-container {
        height: 45vh;
    }
}

@media screen and (max-width:516px) {
    .footer-content .icon-p {
        font-size: 16px !important;
    }
}

@media screen and (max-width:355px) {
    .footer-content .icon-p svg {
        font-size: 30px !important;
    }

    .footer-content .icon-p {
        font-size: 12px !important;
    }

    .footer-content p {
        font-size: 9.5px;
    }
}